<div class="form-card card rounded-0">
  <h1 class="form-card__title"><%= formMessages.title %></h1>
  <div class="form-card__body">
    <form action="/items/new" method="POST">
      <textarea
        class="form-card__body_input-body"
        name="body" rows="10" maxlength="200"
        placeholder="マークダウン記法で入力（200文字以内）"><%= item.body %></textarea>
      <div class="form-card__body_submit">
        <button type="submit" class="btn btn-primary"><%= formMessages.submit %></button>
      </div>
    </form>
  </div>
</div>