.item_card {
  margin: 0 auto 0.5rem;
  max-width: 50rem;
}
.item_user {
  display: flex;
}
.item_user-image {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid #eee;
}
.item_user-name {
  padding-left: 1rem;
  font-size: 1.25rem;
}
.item_markdown {
  background: #eee;
  max-height: 15rem;
  overflow: auto;
}
.item_created-at {
  margin: 0;
  text-align: right;
}
.item-pagenate {
  display: flex;
  justify-content: center;
}