body {
  background-color: #f5f5f5;
}

.form-card {
  margin: 5px 0;
  padding: 10px;
  color: #444;
}
.form-card__title {
  font-size: 1.2rem;
}
.form-card__body_input-body {
  margin-top: 5px;
  padding: 5px;
  width: 100%;
  border: 1px dashed rgba(0, 0, 0, 0.125);
}
.form-card__body_input-body:focus {
  outline: none;
}
.form-card__body_submit {
  text-align: right;
}